* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  width: 100%;
  height: 120px;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  height: 750px;
  max-width:100%;
  margin:0px auto;
}

/* Create three unequal columns that sits next to each other */
.column {
  height:inherit;
 /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   overflow: auto;
   padding: 15px;
}

.column.side div {
  display: block;
  border-radius: 4px;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.column.side div.active {
  background-color: #4CAF50;
  color: white;
}

.column.side div:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Middle column */
.column.middle {
  -webkit-flex: 3.3;
  -ms-flex: 3.3;
  flex: 3.3;
}
.column.middle.content {
  background-color: #f1f1f1;
  padding: 50px;
  height: 100%; /* Should be removed. Only for demonstration */
}

#submit-form{
  visibility: hidden;
}

.tab {
  position: relative;
  background-color: #f1f1f1;
  overflow: hidden;
  margin: 25px;
  width:auto;
  height:35px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .column.side {
    width: 100%;
    height: auto;
    position: relative;
  }
  .column.side a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .column.side a {
    text-align: center;
    float: none;
  }
